* {
    margin: 10px;
    padding: 5px;
    }
    
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: burlywood;
}
h1{
    font-size: big;
    color: #333;
}
h2, h4 {
	color: #8A8E27;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
}

div.ref1{
    background-color: rgb(135, 195, 222);
}
div.ref2{
    background-color: rgb(209, 222, 135);
}
.destacado{
    color: red; 
}
#mencion{
    color: rgb(72, 0, 255); 
}