/* Table 1 Style */

table.table1 {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4em;
    font-style: normal;
    border-collapse: separate;
}

table.table1 thead th {
    padding: 15px;
    color: #fff;
    text-shadow: 1px 1px 1px #568F23;
    border: 1px solid #93CE37;
    border-bottom: 3px solid #9ED929;
    background-color: #9DD929;
    background: -moz-linear-gradient( center bottom, rgb(123, 192, 67) 2%, rgb(139, 198, 66) 51%, rgb(158, 217, 41) 87%);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-radius: 5px 5px 0px 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.table1 thead th:empty {
    background: transparent;
    border: none;
}

.table1 tbody th {
    color: #fff;
    text-shadow: 1px 1px 1px #568F23;
    background-color: #9DD929;
    border: 1px solid #93CE37;
    border-right: 3px solid #9ED929;
    padding: 0px 10px;
    background: -moz-linear-gradient( left bottom, rgb(158, 217, 41) 2%, rgb(139, 198, 66) 51%, rgb(123, 192, 67) 87%);
    border-radius: 5px 0px 0px 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.table1 tfoot td {
    color: #9CD009;
    font-size: 32px;
    text-align: center;
    padding: 10px 0px;
    text-shadow: 1px 1px 1px #444;
}

.table1 tfoot th {
    color: #666;
}

.table1 tbody td {
    padding: 10px;
    text-align: center;
    background-color: #DEF3CA;
    border: 2px solid #E7EFE0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #666;
    text-shadow: 1px 1px 1px #fff;
}


/* Table 2 Style */

table.table2 {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 1.2em;
    border-collapse: collapse;
    text-align: center;
}

.table2 thead th,
.table2 tfoot td {
    padding: 20px 10px 40px 10px;
    color: #fff;
    font-size: 26px;
    background-color: #222;
    font-weight: normal;
    border-right: 1px dotted #666;
    border-top: 3px solid #666;
    -moz-box-shadow: 0px -1px 4px #000;
    -webkit-box-shadow: 0px -1px 4px #000;
    box-shadow: 0px -1px 4px #000;
    text-shadow: 1px 1px 1px #000;
}

.table2 tfoot th {
    padding: 10px;
    font-size: 18px;
    text-transform: uppercase;
    color: #888;
}

.table2 tfoot td {
    font-size: 36px;
    color: #EF870E;
    border-top: none;
    border-bottom: 3px solid #666;
    -moz-box-shadow: 0px 1px 4px #000;
    -webkit-box-shadow: 0px 1px 4px #000;
    box-shadow: 0px 1px 4px #000;
}

.table2 thead th:empty {
    background: transparent;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.table2 thead :nth-last-child(1) {
    border-right: none;
}

.table2 thead :first-child,
.table2 tbody :nth-last-child(1) {
    border: none;
}

.table2 tbody th {
    text-align: right;
    padding: 10px;
    color: #333;
    text-shadow: 1px 1px 1px #ccc;
    background-color: #f9f9f9;
}

.table2 tbody td {
    padding: 10px;
    background-color: #f0f0f0;
    border-right: 1px dotted #999;
    text-shadow: -1px 1px 1px #fff;
    text-transform: uppercase;
    color: #333;
}


/* Table 3 Style */

table.table3 {
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 1.7em;
    text-align: center;
    border-collapse: collapse;
}

.table3 thead th {
    padding: 6px 10px;
    text-transform: uppercase;
    color: #444;
    font-weight: bold;
    text-shadow: 1px 1px 1px #fff;
    border-bottom: 5px solid #444;
}

.table3 thead th:empty {
    background: transparent;
    border: none;
}

.table3 thead :nth-child(2),
.table3 tfoot :nth-child(2) {
    background-color: #7FD2FF;
}

.table3 tfoot :nth-child(2) {
    border-radius: 0px 0px 0px 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.table3 thead :nth-child(2) {
    border-radius: 5px 0px 0px 0px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
}

.table3 thead :nth-child(3),
.table3 tfoot :nth-child(3) {
    background-color: #45A8DF;
}

.table3 thead :nth-child(4),
.table3 tfoot :nth-child(4) {
    background-color: #2388BF;
}

.table3 thead :nth-child(5),
.table3 tfoot :nth-child(5) {
    background-color: #096A9F;
}

.table3 thead :nth-child(5) {
    border-radius: 0px 5px 0px 0px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

.table3 tfoot :nth-child(5) {
    border-radius: 0px 0px 5px 0px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.table3 tfoot td {
    font-size: 38px;
    font-weight: bold;
    padding: 15px 0px;
    text-shadow: 1px 1px 1px #fff;
}

.table3 tbody td {
    padding: 10px;
}

.table3 tbody tr:nth-child(4) td {
    font-size: 26px;
    font-weight: bold;
}

.table3 tbody td:nth-child(even) {
    background-color: #444;
    color: #444;
    border-bottom: 1px solid #444;
    background: -moz-linear-gradient( center bottom, rgb(189, 189, 189) 39%, rgb(224, 224, 224) 70%);
    text-shadow: 1px 1px 1px #fff;
}

.table3 tbody td:nth-child(odd) {
    background-color: #555;
    color: #f0f0f0;
    border-bottom: 1px solid #444;
    background: -moz-linear-gradient( center bottom, rgb(85, 85, 85) 39%, rgb(105, 105, 105) 70%);
    text-shadow: 1px 1px 1px #000;
}

.table3 tbody td:nth-last-child(1) {
    border-right: 1px solid #222;
}

.table3 tbody th {
    color: #696969;
    text-align: right;
    padding: 0px 10px;
    border-right: 1px solid #aaa;
}