div {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.animate
{
	background-color: red;
}
.fade
{
	background-color: green;
}
.slide
{
	background-color: blue;
}
.show
{
	background-color: black;
	color: white;
}