<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Cursos</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<div class="container my-2">
		<h1>Lista de Cursos</h1>
		<a th:href="@{/add}" class="btn btn-primary btn-sm mb-3">Agregar
			Curso</a>
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>
	<a th:href="@{'/page/' + ${currentPage} + '?sortField=nombreCurso&sortDir=' + ${reverseSortDir}}">
		   Nombre</a>
		</th>
		<th>
			<a th:href="@{'/page/' + ${currentPage} + '?sortField=instructor&sortDir=' + ${reverseSortDir}}">
			Instructor</a>		
		</th>
		<th>
			<a th:href="@{'/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">
		Email</a>	
		</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="course: ${listCourses}">
					<td th:text="${course.nombreCurso}"></td>
					<td th:text="${course.instructor}"></td>
					<td th:text="${course.email}"></td>
					<td><a th:href="@{/update/{id}(id=${course.id})}"
						class="btn btn-primary">Actualizar</a> 
						<a th:href="@{/delete/{id}(id=${course.id})}" 
						class="btn btn-danger">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
		<div th:if="${totalPages >1}">
			<div class="row col-sm-10">
				<div class="col-sm-5">Total Filas : [[${totalItems}]]</div>
				<div class="col-sm-3">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}"> <a
						th:if="${currentPage != i}"
						th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>
					</span>
				</div>
				<div class="col-sm-1"></div>
				<div class="col-sm-1"></div>
			</div>

		</div>

	</div>
</body>
</html>