<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Altas</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
<div class="container">
<h1>Gestion de Cursos</h1>
<h2>Altas de Cursos</h2>
<form action="#" th:action="@{/save}" th:object="${course}"
		method="POST">
		<input type="text" th:field="*{nombreCurso}"
			placeholder="Course Name" class="form-control mb-4 col-4">

		<input type="text" th:field="*{instructor}"
			placeholder="Instructor Name" class="form-control mb-4 col-4">

		<input type="text" th:field="*{email}"
			placeholder="Course Email" class="form-control mb-4 col-4">

		<button type="submit" class="btn btn-info col-2"> Guardar Curso</button>
	</form>

<hr>
<a th:href="@{/}">Volver</a>
</div>
</body>
</html>