<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Cursos</title>
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
		crossorigin="anonymous">
</head>
<body>
<div>
<h1>Gestion de Cursos</h1>
<h2>Actualizacion de Curso</h2>
<form action="#" th:action="@{/save}" th:object="${course}" method="post">
<input type="hidden" th:field="*{id}">
<input type="text" th:field="*{nombreCurso}" class="form-control mb-4 col-4" placeholder="nombre de curso">
<input type="text" th:field="*{instructor}" class="form-control mb-4 col-4" placeholder="nombre del instructor">
<input type="text" th:field="*{email}" class="form-control mb-4 col-4" placeholder="email">
<button type="submit" class="btn btn-info col-2">Guardar</button>
</form>
<hr>
<a th:href="@{/}">Volver al listado</a>
</div>
</body>
</html>